.HEADER{
    height: 146px;
    width: 100%;
}
.HEADER_img{
    width: 100%;
    height: 100%;
    background-image: url("./background_header.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}